@using Parcial1.ViewModels;
@model DetailViewModel
@{

}

<div>
    <div class="mb-3">
        <h2>Detalle del Alumno/a @Model.alumno.Name</h2>
    </div>
    <div class="mb-3">
        <h3>@Html.DisplayNameFor(x => x.alumno.Name)</h3>
        <h4>@Model.alumno.Name</h4>
    </div>
    <div class="mb-3">
        <h3>@Html.DisplayNameFor(x => x.alumno.Surname)</h3>
        <h4>@Model.alumno.Surname</h4>
    </div>
    <div class="mb-3">
        <h3>@Html.DisplayNameFor(x => x.alumno.Dni)</h3>
        <h4>@Model.alumno.Dni</h4>
    </div>
    <div class="mb-3">
        <h3>@Html.DisplayNameFor(x => x.alumno.Nationality)</h3>
        <h4>@Model.alumno.Nationality</h4>
    </div>
    <div class="mb-3">
        <h3>@Html.DisplayNameFor(x => x.alumno.CarreraId)</h3>
        <h4>@Model.alumno.carrera.Name</h4>
    </div>
    <div class="mb-3">
        <a asp-action="Index" class="btn btn-primary">Volver</a>
        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.alumno.Id">Modificar datos</a>
    </div>
</div>